@font-face {
  font-family: IRANYekan-Bold;
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebExtraBold.ttf");
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebExtraBold.woff");
}

@font-face {
  font-family: IRANYekan-Medium;
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebMedium.ttf");
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebMedium.woff");
}

@font-face {
  font-family: IRANYekan-Regular;
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebRegular.ttf");
  src: url("../../public/assets/font/IranYekan/webFont/IRANYekanWebRegular.woff");
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fafafa;
  overflow: auto;
}

.sidebar .sidebar-container {
  height: 100%;
  padding: 1.5rem 0 1.5rem 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6rem;
}

.sidebar .sidebar-body,
.sidebar .sidebar-footer {
  padding-right: 1.5rem;
}

.sidebar .sidebar-body ul,
.sidebar .sidebar-footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.sidebar .sidebar-body ul li,
.sidebar .sidebar-footer ul li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.sidebar .sidebar-body ul li.active a {
  font-family: IRANYekan-Medium !important;
}

.sidebar .sidebar-body ul li a,
.sidebar .sidebar-footer ul li a {
  text-decoration: none;
  font-family: IRANYekan-Regular;
  color: #000;
  font-size: 0.8rem;
}

.menu-with-submenu {
  flex-direction: column;
  align-items: flex-end !important;
}

.menu-with-submenu span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-with-submenu .submenu {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}

.menu-with-submenu .submenu li a {
  font-family: IIRANYekan-Regular;
  color: #909090 !important;
  font-size: 0.7rem !important;
}

.theme-toggle button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: IRANYekan-Medium;
}

/* Dark Mode */
.sidebar-dark {
  background-color: rgb(18, 8, 77);
}

.sidebar-dark .sidebar-body_dark ul li a,
.sidebar-dark .sidebar-footer_dark ul li a {
  color: #fff;
}

.sidebar-dark .sidebar-footer_dark .theme-toggle button {
  background-color: rgb(11, 4, 54);
  border: 1px solid #0068d2;
  color: #fff;
}
